<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="winAppSAIC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <connectionStrings>
    <add name="winAppSAIC.Properties.Settings.dbSAICBPOConnectionString"
      connectionString="Data Source=MXADNADC,1433;Initial Catalog=dbADNA_PENSION_MX;Persist Security Info=True;User ID=dbUserPensionesMX;Password=e@}s[BB$q#?G6QTz;Connect Timeout=15;Application Name=&quot;SAIC Pensiones 2017&quot;"
      providerName="System.Data.SqlClient" />
    <add name="dbSAICBPO_PENSION_MX2017Entities" connectionString="metadata=res://*/NominaCFDITimbreFacil.dbSAICBPONominaCFDITimbreFacil.csdl|res://*/NominaCFDITimbreFacil.dbSAICBPONominaCFDITimbreFacil.ssdl|res://*/NominaCFDITimbreFacil.dbSAICBPONominaCFDITimbreFacil.msl;provider=System.Data.SqlClient;provider connection string='data source=tpnmx.ddns.net,57672;initial catalog=dbSAICTPN_PENSION_MX;user id=dbUserPensionesTPN;password=+ON&gt;E4n5Je(E9b-R;multipleactiveresultsets=True;application name=&quot;SAIC Pensiones 2017&quot;'"
      providerName="System.Data.EntityClient" />
    <add name="winAppSAIC.Properties.Settings.dbSAICBPOConnectionStringJOB"
      connectionString="Data Source=MXADNADC,1433;Initial Catalog=msdb;Persist Security Info=True;User ID=dbUserJOBs;Password=+ON&gt;E7n9Je(E5&amp;21"
      providerName="System.Data.SqlClient" />
    <add name="winAppSAIC.Properties.Settings.dbSAICBPOConnectionStringAsimilados"
      connectionString="Data Source=MXADNADC,1433;Initial Catalog=dbADNA_ASIM_MX;User ID=dbUserAsimiladosMX;Password=e@}s[BB$q#?G6QTz"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="SecurityKey32" value="QnS{o4W[3RT8LV@Bke~u}0+U?)#*djz+" />
    <add key="SecurityKey16" value="W2qS@6H)Ns$iExw0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsAPIXMLBinding">
          <security mode="Transport" />
        </binding>
        <binding name="wsAPIXMLBinding1" />
        <binding name="BasicHttpsBinding_IFacturacion33Service">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IFacturacion40Service">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IFacturacion40Service1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.enlacefiscal.com/soap/serviceCFDiNomina.php"
        binding="basicHttpBinding" bindingConfiguration="wsAPIXMLBinding"
        contract="srvComEnlaceFiscalAPI.wsAPIxmlSOAP" name="EFPort" />
      <endpoint address="https://serviceslucas.braunter.mx/eCommerce/sFacturacion33.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IFacturacion33Service"
        contract="LucasServ.IFacturacion33Service" name="BasicHttpsBinding_IFacturacion33Service" />
      <endpoint address="https://serviceslucas.braunter.mx/eCommerce/sFacturacion40.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IFacturacion40Service"
        contract="LucasServ4.IFacturacion40Service" name="BasicHttpsBinding_IFacturacion40Service" />
      
       <!--Con Pruebas--> 
      <!--<endpoint address="https://dev.braunter.mx/lucas/eCommerce/sFacturacion40.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IFacturacion40Service"
        contract="LucasServ4.IFacturacion40Service" name="BasicHttpsBinding_IFacturacion40Service" />-->
      
      <endpoint address="https://serviceslucas.braunter.mx/eCommerce/sFacturacion40.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IFacturacion40Service1"
        contract="LucasServCancela.IFacturacion40Service" name="BasicHttpsBinding_IFacturacion40Service1" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="186400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <winAppSAIC.Properties.Settings>
      <setting name="winAppSAIC_Timbrefinkok_StampSOAP" serializeAs="String">
        <value>https://facturacion.finkok.com/servicios/soap/stamp</value>
      </setting>
      <setting name="winAppSAIC_finkokdemoCancelar_CancelSOAP" serializeAs="String">
        <value>https://facturacion.finkok.com/servicios/soap/cancel</value>
      </setting>
      <setting name="winAppSAIC_ThreeBits_wservice" serializeAs="String">
        <value>http://ws.facturacionmexico.com.mx/pac/index.php</value>
      </setting>
      <setting name="winAppSAIC_ThreeBitsCancelar_Cancelar_cfdi_3_3_SAT"
        serializeAs="String">
        <value>http://pac1.facturacionmexico.com.mx/cancelacion2022/index.php</value>
      </setting>
    </winAppSAIC.Properties.Settings>
  </applicationSettings>
</configuration>